Violation: Container has no memory limits

Containers must have memory limits set. It is recommended to limit memory as memory always has a maximum and helps prevent resource exhaustion. See: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers
