Violation: Environment variable CONTAINER_MAX_MEMORY is not set

Java containers must have the CONTAINER_MAX_MEMORY environment variable set using valueFrom.resourceFieldRef.resource=limits.memory. This applies to containers with redhat-cop.github.com/technology=java label. See: https://docs.openshift.com/container-platform/4.6/nodes/clusters/nodes-cluster-resource-configure.html
