Violation: servicecatalog.k8s.io v1beta1 is deprecated

Service catalog resources must not use the deprecated 'servicecatalog.k8s.io/v1beta1' API. This API is deprecated in OCP 4.2 and removed in 4.5. See: https://docs.redhat.com/en/documentation/openshift_container_platform/4.2/html/release_notes/ocp-4-2-release-notes#ocp-4-2-deprecated-features See: https://docs.redhat.com/en/documentation/openshift_container_platform/4.5/html/release_notes/ocp-4-5-release-notes#ocp-4-5-deprecated-removed-features
